@import "../../app/App.styles.scss";

.hero {
  width: 100%;
  height: 100vh;

  &__bg-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($black, 0.6), rgba($black, 0.6)),
      url("../../assets/img/home/home-bg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &__content {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
      h1 {
        color: $white;
        font-size: 2.5rem;
        font-weight: 200;
        display: inline-block;
        letter-spacing: 0.1rem;
        text-shadow: 0 0 1rem $white;
        margin: 0;

        span.middle {
          font-weight: 300;
          color: $secondary-color;
        }
      }

      &-action {
        span {
          color: $secondary-color;
          font-weight: 500;
          font-size: 1.2rem;
          margin: 0;
          display: inline-block;
          padding: 0 0.2rem;
          @include arrowSwipe(0.5s);
        }
      }
    }

    &__text {
      p {
        color: $smoke;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 1.5rem 0;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        line-height: 1rem;

        span {
          color: $secondary-color;
          display: block;
        }
      }
    }

    &__btn {
      margin: 1rem 0 0;
      a {
        font-weight: 500;
        box-shadow: 0 2px 0px $secondary-color;

        &:hover {
          color: $secondary-color;
          box-shadow: 0 0px 0px $secondary-color;
          transform: translateY(3px);
        }
      }
    }

    .btn-download {
      color: $white;
      padding: 0.8rem 0.8rem;
      margin: 1rem 0.5rem 0;

      &:hover {
        color: $black;
      }
    }
  }
}

@include media-md {
  .hero {
    &__content {
      padding-top: 0;

      &__heading {
        h1 {
          font-size: 3rem;
        }

        &-action {
          span {
            font-size: 1.5rem;
          }
        }
      }

      &__text {
        p {
          font-size: 0.9rem;
          margin: 2rem 0;
          line-height: 1.5;
        }
      }
    }
  }
}
@include media-lg {
  .hero {
    &__content {
      &__heading {
        h1 {
          font-size: 4rem;
        }

        &-action {
          span {
            font-size: 2rem;
          }
        }
      }

      &__text {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@include media-sm {
  .hero {
    &__content {
      &__heading {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
